*{
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.loader-container {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background: #000000af;
  display: flex;
}

.loader {
  position: relative;
  border: 16px solid #bf1e1e; 
  border-top: 16px solid #28f740;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header{
  height: 40px;
  width:100%;
  display: flex;
  background: #fff;
  flex-grow: 1;
  align-items: center;
  padding: 10px 30px;
  justify-content: space-between;
}

.logo{
  align-self: center;
  font-size: 30px;
  background: linear-gradient(90.57deg, #bf1e1e 19.45%, #28f740 71.23%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.canvasContainer{
  width:620px;
  margin: auto;
  position: relative;
}
.canvasOverlay{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.canvasOverlay.playing{
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.canvasOverlay .logo{
  font-size: 100px;
  margin: 10px;
}
.gameCanvas{
  background: #1D0707;
  border: 5px solid grey;
  margin: auto;

}

.gameContainer{
  transform: scale(0.8);
  transition: all 0.5s ease-in-out;
}

.gameContainer.playing{
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}

.btnContainer{
  display: flex;
}

.gameScore{
  text-align: center;
  margin: 15px 0;
  font-size: 30px;
  color: #28f740;
}

.gameScore .go{
  margin: 10px;
  font-size: 25px;
  color: #bf1e1e;
  font-weight: 600;
}

.btn{
  width: 150px;
  margin: auto;
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 25px;
  margin: 10px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.btn.lBtn{
  width: 110px;
}

.btn.login{
  width: 110px;
  font-size: 18px;
}
.btn.lbBtn{
  width: 300px;
}


.btn:hover,
.btn.active{
  background: linear-gradient(90.57deg, #bf1e1e 19.45%, #28f740 71.23%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  transition: all .3s ease-in-out;
}

.userDetails{
  height: 30px;
  width: 30px;
}
.userDetails img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.userDropdown{
  background: #fff;
  width: 200px;
  position: absolute;
  top:40px;
  right:-250px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all .5s ease-in-out;
}

.userDropdown.scoreBoard{
  width: 400px;
  right: -500px;
  padding: 15px;
}

.userDropdown.scoreBoard li{
  list-style: none;
  font-style: italic;
  font-weight: 600;
}

.userDropdown.open{
  right: 0;
  transition: all .5s ease-in-out;
}


.userDropdown img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.userDropdown p{
  margin: 10px 0;
}
.btn.linkBtn{
  border: none;
  font-size: 18px;
  padding: 5px 0;
  margin: 5px 0;
}
.topScoreContainer{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}